<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title th:text="'Clickable - '+${course.getCoursename()}"></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor - v2.2.1
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">Clickable</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li th:each="menuItem: ${menu}" th:class="${menuItem.getClasses()}"><a th:href="${menuItem.getSource()}" th:text="${menuItem.getName()}"></a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="courses.html" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2 th:text="${course.getCoursename()}">COURSE NAME</h2>
        <p th:text="${course.getDescription()}">COURSE DESCRIPTION. COURSE DESCRIPTION. COURSE DESCRIPTION. COURSE DESCRIPTION. COURSE DESCRIPTION. COURSE DESCRIPTION. COURSE DESCRIPTION. COURSE DESCRIPTION. COURSE DESCRIPTION.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <video class="img-fluid" controls>
              <source src="/assets/videos/video.mp4" type="video/mp4">
            </video>
            <div class="tab-content">
              <div th:id="${'les' + lesson.getLessonOrder()}" th:each="lesson: ${course.getLessonsList()}" th:class="${(lesson.getLessonOrder() == 1) ? ('container tab-pane active') : ('container tab-pane fade')}">
                <h3 th:text="${lesson.getLessonName()}"></h3>
                <p th:text="${lesson.getLessonInfo()}"></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Trainer</h5>
              <p><a href="/trainers" th:text="${course.getTrainer().getFirstName()}+' '+${course.getTrainer().getLastName()}"></a></p>
            </div>
            </hr>

            <ul class="nav nav-tabs">
              <li class="course-info d-flex justify-content-between align-items-center nav-item" th:each="lesson: ${course.getLessonsList()}">
                <h5 th:text="${'Les ' + lesson.getLessonOrder() + ': ' + lesson.getLessonName()}">Les 1: Lorum Ipsum</h5>
                <a data-toggle="tab" th:href="${'#les' + lesson.getLessonOrder()}">Start les</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Clickable</h3>
            <p>
              Achterste Rou 146<br>
              9697 PT, Blijham<br><br>
              <strong>Telefoon:</strong> 046-24142708<br>
              <strong>Email:</strong> info@clickable.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Bruikbare Links</h4>
            <ul>
              <li th:each="menuItem: ${menu}"><i class="bx bx-chevron-right"></i> <a th:href="${menuItem.getSource()}" th:text="${menuItem.getName()}">Home</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Meld je aan voor onze nieuwsbrief</h4>
            <p>Meld je nu aan voor onze nieuwsbrief en ontvang kortingen en nieuws!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Schrijf je in!">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Clickable</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>